.search__form_container{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 90px;
    background-color: lavenderblush;
}

.search__input_container{
    width: 50vh;
}